/* Custom Scroll */

::-webkit-scrollbar {
  width: 8px;
  background-color: rgba(0, 0, 0, 0.930);
}

::-webkit-scrollbar-thumb {
  background: var(--tertiary-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-color);
}

body{
  background: var(--first-section-bg-color);
  background-size: 200% 200%;
  animation: colorTransition 6s ease infinite; /* Animação infinita */
}

@keyframes colorTransition {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
}

.headerNav-container {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  background-color: var(--nav-bg-color);
}

.nav-right {
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
  color: #ffffff;
  max-width: 18rem;
  gap: 16px;
  width: 100%;
}

.nav-right a {
  font-weight: 600;
  padding: 3px;
  font-size:0.8rem;
  letter-spacing: 2px;
}

.nav-right button {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 800;
  letter-spacing: 2px;
  background: var(--tertiary-color);
  width: 60%;
  border-radius: 16px;
  transition: all 0.5s ease-out;
}

.nav-right button:hover {
  color: var(--btn-link-color);
  background-color: var(--btn-link-bg-color);
}

.headerNav-container > a > img {
  height: 100%;
  max-height: 300px;
  width: 100%;
  max-width: 150px;
}

.initial {
  height: 120vh;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.initial::after{
  content: "";
  width: 100%;
  height: 100vh;
  bottom: 0;
  position: relative;
  background: linear-gradient(0deg, var(--primary-color), transparent);
}

.brand-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 3rem;
  padding: 1rem;
}

.brand-logos > img {
  max-width: 100%; /* Tamanho máximo */
  margin-top: 20px;
  padding: 2px 14px;
  height: 50px; /* Mantém a proporção da imagem */
  object-fit: center; /*Mantém qualidade ao preencher espaço*/
}

.initial-title {
  text-transform: uppercase;
  color: var(--text-color);
  max-width: 100%;
  text-align: center;
  margin-top: 1rem;
  width: 600px;
}

.initial-title > h2 {
  font-weight: 300;
  font-size: 2rem;
  line-height: 3rem;
}

.initial-title > h2 > strong {
  font-weight: 600;
  font-size: 3rem;
}

.initial-hr {
  margin-top: 1rem;
  background: var(--divider-bg-color);
  max-width: 80%;
  width: 800px;
  height: 15px;
}

.initial-price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.initial-price > p {
  color: var(--text-color);
  font-size: 1.5rem;
}

.initial-price > p > strong {
  font-size: 2rem;
}

.button-layout {
  cursor: pointer;
  margin-top: 2rem;
  color: var(--text-color);
  text-transform: uppercase;
  border-radius: 50px;
  font-size: 1.1rem;
  font-weight: 800;
  padding: 0.8rem 2.4rem;
  letter-spacing: 3px;
  background: var(--btn-bg-color-gradient);
  outline: 2px solid transparent;
  transition: outline 1s, background 1s, transform 1s;
  background-size: 250%;
  animation: shake-and-pause 2.5s ease-in-out infinite;
}

.button-layout:hover {
  outline: 2px solid var(--secondary-color);
  transform: scale(1.05);
  background-position: 100%;
  background: transparent;
}

.initial-text {
  color: var(--text-color);
  font-size: 1.1rem;
  font-weight: lighter;
  margin-top: 3rem;
  width: 300px;
  text-align: center;
}

.buy-now {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background: url(../images/background-movies-series.png),  linear-gradient(0deg, rgba(2,2,40,1) 0%, rgba(2,2,40,0.7316176470588236) 50%, rgba(2,2,40,1) 100%);
  background-repeat: no-repeat;
  background-size: 130%;
  background-position: center;
  height: 100vh;
  padding: 10px;
}

.buy-now-text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  max-width: 85%;
}

.buy-now-text > h2 {
  color: var(--text-color);
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

@keyframes shake-and-pause {
  0%,
  100% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(10deg);
  }
  20% {
    transform: rotate(-5deg);
  }
  30% {
    transform: rotate(5deg);
  }
  40% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: none;
  }
}

.buy-now-cards{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 20px 0;
  gap: 20px;
  perspective: 2000px;
  perspective-origin: top;
}

.card-item{
  font-family: 'Quicksand', sans-serif;
  color: var(--text-color);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background: var(--card-bg-color);
  width: 600px;
  height: 100%;
  max-height: 700px;
  padding: 30px;
  gap: 30px;
  font-size: 1.5rem;
  transition: transform 0.8s ease-in-out;
}

.card-info{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card-price{
  font-size: 1rem;
  font-weight: 200;
}

.card-price > strong{
  font-size: 2rem;
  font-weight: 800;
  color: var(--secondary-color);
}

.card-list{
  height: 400px;
  font-size: 1.3rem;
}

.card-list > li{
  padding: 10px;
}

.card-list li::before{
  content: "+ ";
}

.card-button{
  align-self: center;
  animation: none;
  font-size: 0.8rem;
  padding: 20px;
  width: 100%;
  max-width: 400px;
}

.buy-now-cards:has(.card-item:nth-child(1):hover)
  .multi-card{
  transform: rotateY(-45deg);
}

.buy-now-cards:has(.card-item:nth-child(2):hover)
  .mobile-card{
  transform: rotateY(45deg);
}

.catalog{
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.catalog::before{
  margin-top: 10vh;
  content: "";
  width: 100%;
  height: 30vh;
  bottom: 120px;
  position: relative;
  background: linear-gradient(180deg, var(--primary-color), transparent);
}

.catalog-title > h2{
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 22px;
}

.catalog-grid{
  padding: 10%;
  padding-top: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 32px;
}

.catalog-card{
  position: relative;
  width: 100%;
  overflow: hidden;
}

.catalog-card > img{
  width: 100%;
  height: 100%;
  transition: transform 0.7s cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.catalog-card > .hovered-image{
  position: absolute;
}

.catalog-card .default-image {
  transform: translateX(0);
}

.catalog-card .hovered-image {
  transform: translateX(110%); 
}

.catalog-card:hover .default-image {
  transform: translateX(-110%);
}

.catalog-card:hover .hovered-image {
  transform: translateX(0);
  bottom: 0;
}

footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-text{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.footer-text > a{
  font-weight: 800;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: var(--link-color);
}

footer > h3{
  margin-top: 12px;
  color: var(--link-color);
  font-weight: 300;
  font-size: 0.8rem;
  padding: 20px;
}

footer > .social-medias{
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  cursor: pointer;
}

.social-medias > img{
  width: 100%;
  height: 20px;
  object-fit: cover;
}


@media screen and (max-width: 1219px){
  .initial{
    height: 130vh;
  }

  .initial::after{
    height: 100vh;
  }

  .buy-now{
    height: 220vh;
    background-size: 140%;
  }

  .buy-now-text > h2{
    font-size: 1.3rem;
  }

  .card-item{
    max-height: 600px;
    transition: none;
  }

  .buy-now-cards:has(.card-item:nth-child(1):hover)
    .multi-card{
  transform: none;
  }

  .buy-now-cards:has(.card-item:nth-child(2):hover)
    .mobile-card{
  transform: none;
  }

  .card-info{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card-item > .card-list > li{
    font-size: 1rem;
  }

  .card-list{
    height: 300px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }

  .card-item{
    height: 600px;
    padding: 10px;
  }

  .card-button{
    font-size: 0.8rem;
    padding: 15px;
    width: 80%;
    max-width: 400px;
  }

  .catalog-grid{
    grid-template-columns: 1fr 1fr;
  }

  .catalog::before{
    content: "";
    width: 100%;
    height: 20vh;
    bottom: 120px;
    position: relative;
    background: linear-gradient(180deg, var(--primary-color), transparent);
  }

}

@media screen and (max-width: 768px) {
  .headerNav-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 22px;
  }

  .initial-title {
    width: 320px;
    max-width: 100%;
  }

  .initial-title > h2 {
    font-size: 1rem;
  }

  .initial-title > h2 > strong {
    font-size: 2rem;
  }

  .initial-button{
    max-width: 220px;
    width: 100%;
    font-size: 0.8rem;
  }

  .initial-text{
    margin-top: 32px;
  }

  .buy-now{
    height: 190vh;
  }

  .card-item{
    padding: 12px;
  }

  .catalog::before{
    content: "";
    width: 100%;
    height: 25vh;
    bottom: 110px;
    position: relative;
    background: linear-gradient(180deg, var(--primary-color), transparent);
  }

  .catalog-grid {
    display: flex; 
    flex-wrap: nowrap; 
    overflow-x: auto; 
    scroll-snap-type: x mandatory; 
  }
  
  .catalog-title > h2{
    font-weight: 400;
    font-size: 1.6rem;
  }

  .catalog-card {
    flex: 0 0 100%;
    scroll-snap-align: center; 
  }

  .catalog-grid::-webkit-scrollbar {
    display: none; 
  }

  .catalog-grid {
    -ms-overflow-style: none;
    scrollbar-width: none; 
  }
}

@media screen and (max-width: 370px){
  .buy-now{
    height: 200vh;
  }

  .card-item{
    padding: 6px;
  }
  
  .card-list li:nth-child(odd){
    padding: 6px;
    font-size: 0.8rem;
  }

  .card-list li:nth-child(even){
    padding: 6px;
    font-size: 0.8rem;
  }

  .card-button{
    width: 80%;
    font-size: 0.5rem;
  }

  footer > .social-medias{
    gap: 20px;
  }
}